main{
    height: 710px;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.heading {
    margin: 25px auto;
    width: 250px;
    height: 35px;
}

.blog-container {
    display: ;
    height: 70px;
    margin: 25px 100px;
    background-color: blue;
}

.blog-image {
    height: 55px;
    width: 55px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: red;
}