* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main{
    /* height: 100%; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}   

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
}

.blog-container {
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3px;
    /* height: 100px; */
    /* margin: 25px 100px; */
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    /* gap: 20px; */
}

.blog-image {
    border-radius: 3px;
    /* height: 55px; */
    height: 100%;
    width: 405px;
    margin: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex: 2; */
    gap: 10px;
}

.actions {
    /* flex: 1; */
    border-radius: 3px;
    /* display: inline-block; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
    width: 205px;
    margin: 0 10px;
    /* margin-top: 150px; */
}
.actions button{
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.info{
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px;
}
.info h3{
    margin: 0px;
}
.image {
    border-radius: 3px;
    display: inline-block;
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin: 10px;
}
/* i{
    height: 50px;
    width: 50px;
} */


/* media query */

@media (max-width:660px){
    .blog-container{
        flex-direction: column;
        gap: 10px;
        max-width: 600px;
        width: fit-content;
    }
    .actions{
        justify-content: center;
        margin: 0;
    }
    .blog-image{
        width: 100%;
    }
    .actions button{
        flex: 1;
        margin: 15px 5px;
    }
}

#edit, #delete, #add{
    background-color: white;
    border: none;
}

#add-icon {
    font-size: 45px;
}

#add {
    border: solid 4px black;
    border-radius: 50%;
    width: 50px;
    margin: 0 auto;
}