<footer>
    <form id="subscribe">
        <h2>Subscribe to our newsletter</h2>
        <input type="text" placeholder="email" class=".email">
    </form>

    <p class="copyright">Copyright &copy; Blog</p>
    <p>|</p>
    <a href="#" class="privacy">Privacy policy</a>
</footer> 