<header id="head">
    <div class="blog">
        <a href="/" class="logo">Blog</a>
        <button id="menu" onclick="dropdown()">menu</button>
    </div>
    <nav id="nav">
        <a href="/">Home</a>
        <a href="#" onclick="event.preventDefault(); userBlogs()">Manage Blogs</a>
        <a href="#" onclick="event.preventDefault(); verifyCreate()">Create Blog</a>
        <a href="#" id="login-tag" onclick="event.preventDefault(); inOut()">Login</a>
    </nav>
</header>

<script>
    function resetButton() {
        const windowInnerWidth = window.innerWidth;
        if (windowInnerWidth > 872) {
            document.getElementById('nav').style.display = 'block'
        }
    }
    setInterval(resetButton, 500)
    function dropdown() {
        let btnMenu = document.getElementById('nav')
        if (btnMenu.style.display == 'block') {
            btnMenu.style.display = 'none'
        } else {
            btnMenu.style.display = 'block'
        }
    }
    
    async function verifyUser() {
        try {
            token = document.cookie.split("=")[1]

            if (token == undefined) {
                throw error
            }

            // Url for the request
            let url = 'http://localhost:3000/users/verify'

            // Making our request
            return await fetch(url, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'token': 'Bearer ' + token
                },
            })
                .then(response => {
                    if (response.status === 200) {
                        return true
                    } else {
                        return false
                    }
                })
                .catch(errorMsg => {
                    return false
                })
        } catch (err) {
            return false
        }
    }

    var login = document.getElementById("login-tag")

    verifyUser().then(result => {
        if (result) {
            login.innerText = "Log out"
        } else {
            login.innerText = "Login"
        }
    })

    function verifyCreate() {
        verifyUser().then(result => {
            if (result === true) {
                window.location.assign("/createBlog")
            } else {
                window.location.assign("/signup")
            }
        })
    }

    function inOut() {
        if (login.innerText === "Login") {
            window.location.assign("/signup")
        } else if (login.innerText === "Log out") {
            document.cookie = "access_token="
            window.location.assign("/")
        }
    }

    function userBlogs() {
        try {
            token = document.cookie.split("=")[1]

            if (token == undefined) {
                throw error
            }

            // Url for the request
            let url = 'http://localhost:3001/manage'

            window.location.assign(url + "?token=Bearer " + token)
        } catch (err) {
            window.location.assign("/signup")
        }
    }
</script>