<header id="head">
    <div class="blog">
        <a href="#" class="logo">Blog</a>
        <button id="menu" onclick="dropdown()">menu</button>
    </div>
    <nav id="nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Topics</a>
        <a href="#">MyBlog</a>
    </nav>
</header>