<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
<head>
    <link rel="stylesheet" href="user-style.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="box-1">
            <div class="content-holder">
                <h2><i>Welcome!</i></h2>
                <button class="sign" onclick="inOrUp()">Sign In</button>
            </div>
        </div>
        <div class="box-2">
            <div class="login-form-container">
                <div class="login-content">

                    <fieldset>
                        <label for="mail">
                            
                            <input type="email" placeholder="Email" class="input-field" id="mail">
                        </label>
                    </fieldset>
                    
                    <fieldset>
                        <label for="pass">
                            <input type="password" placeholder="Password" class="input-field" id="pass">
                        </label>
                    </fieldset>
                </div>
                <button class="login-button" type="button">Login</button>
            </div>
            <div class="signup-form-container">
                <div class="signin-content">

                    <fieldset>
                        <label for="name">
                            <input type="text" placeholder="Username" class="input-field" id="name">
                            
                        </label>
                    </fieldset>
                    
                    <fieldset>
                        <label for="mail">
                            
                            <input type="email" placeholder="Email" class="input-field" id="mail">
                        </label>
                    </fieldset>
                    <fieldset>
                        <label for="pass">
                            <input type="password" placeholder="Password" class="input-field" id="pass">
                            
                        </label>
                    </fieldset>
                </div>

                <button class="signup-button" type="button">Sign Up</button>
            </div>
        </div>
        <script src="user-script.js"></script>
</body>

</html>