<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create blog</title>

    <link rel="stylesheet" href="blogStyle.css">
</head>

<body>
    <header>
        <h1>Blog-X</h1>
    </header>

    <main>
        <div id="form-container">
            <h1 id="head">Create New Blog</h1>
            <form id="form">
                <fieldset>
                <label for="" class="label-item">
                    <span>Title:</span>
                    <br>
                    <textarea name="" id="title"  rows="2"></textarea>
                </label>
            </fieldset>
            <fieldset>
                <label for="" class="label-item">
                    <span>Snippet:</span>
                    <br>
                    <textarea name="" id="snippet"  rows="2" ></textarea>
                </label>
            </fieldset>
            <fieldset>
                <label for="" class="label-item">
                    <span>Category:</span>
                    <br>
                    <input type="text" id="category">
                </label>
            </fieldset>
            <fieldset >
                <label for="" class="label-item" id="upload-field">
                    <span>Upload Image:</span>
                    <br>
                    <input type="file" id="upload">
                </label>
            </fieldset>
            <fieldset>
                <label for="" class="label-item">
                    <span> Content: </span>
                    <br>
                    <textarea name="" id="content" cols="30" rows="10"></textarea>
                </label>
            </fieldset>
            <fieldset>
                <label for="" class="label-item" id="btn">
                    <input type="submit" id="submit-btn">
                </label>
            </fieldset>
            </form>
        </div>
    </main>
</body>

</html>