<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <head>
        <link rel="stylesheet" href="blogStyle.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>

            <main>
                <div id="form-container">
                    <form id="form" enctype="multipart/form-data" method="post"
                        onsubmit="event.preventDefault(); postBlog()">
                        <fieldset>
                            <label for="" class="label-item">
                                <span>Title:</span>
                                <br>
                                <textarea name="" id="title" name="title" rows="1" required></textarea>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item">
                                <span>Snippet:</span>
                                <br>
                                <textarea name="" id="snippet" name="snippet" rows="2" required></textarea>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item">
                                <span>Category:</span>
                                <br>
                                <input type="text" id="category" name="category" required>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item" id="upload-field">
                                <span>Upload Image:</span>
                                <br>
                                <input type="file" id="blogImage" name="upload">
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item">
                                <span> Content: </span>
                                <br>
                                <textarea name="" id="content" name="content" cols="30" rows="10" required></textarea>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item" id="btn">
                                <input value="Post Blog" type="submit" id="submit-btn">
                            </label>
                        </fieldset>
                    </form>
                </div>
            </main>

            <%- include('../partials/footer.ejs')%>

                <script>
                    function postBlog() {
                        const title = document.getElementById("title").value
                        const snippet = document.getElementById("snippet").value
                        const category = document.getElementById("category").value
                        const content = document.getElementById("content").value
                        const blogImage = document.querySelector('#blogImage')

                        const formData = new FormData()
                        formData.append('blogImage', blogImage.files[0])
                        formData.append('title', title)
                        formData.append('snippet', snippet)
                        formData.append('category', category)
                        formData.append('content', content)

                        // Url for the request
                        let url = 'https://blogs-api-fcje.onrender.com/blogs'

                        token = document.cookie.split("=")[1]

                        // Making our request
                        fetch(url, {
                            method: 'POST',
                            headers: { 'token': 'Bearer ' + token },
                            body: formData
                        })
                            .then(result => result.json().then(data => {
                                alert(data.message)
                                window.location.replace('/')
                            }))
                            .catch(errorMsg => {
                                alert(errorMsg)
                            })
                    }
                </script>
    </body>

</html>