<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <head>
        <link rel="stylesheet" href="blogStyle.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>

            <main>
                <div id="form-container">
                    <form id="form" action="http://localhost:3000/blogs/" enctype="multipart/form-data" method="post">
                        <fieldset>
                            <label for="" class="label-item">
                                <span>Title:</span>
                                <br>
                                <textarea name="" id="title" name="title" rows="1" required></textarea>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item">
                                <span>Snippet:</span>
                                <br>
                                <textarea name="" id="snippet" name="snippet" rows="2" required></textarea>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item">
                                <span>Category:</span>
                                <br>
                                <input type="text" id="category" name="category" required>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item" id="upload-field">
                                <span>Upload Image:</span>
                                <br>
                                <input type="file" id="blogImage" name="upload">
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item">
                                <span> Content: </span>
                                <br>
                                <textarea name="" id="content" name="content" cols="30" rows="10" required></textarea>
                            </label>
                        </fieldset>
                        <fieldset>
                            <label for="" class="label-item" id="btn">
                                <input value="Post Blog" type="submit" id="submit-btn">
                            </label>
                        </fieldset>
                    </form>
                </div>
            </main>

            <%- include('../partials/footer.ejs')%>

                <script>
                    function submitForm() {
                        let title = document.getElementById("title").value
                        let snippet = document.getElementById("snippet").value
                        let category = document.getElementById("category").value
                        let content = document.getElementById("content").value
                        let blogImage = document.getElementById("blogImage").value

                        // Url for the request 
                        let url = 'http://localhost:3000/blogs/';

                        // Making our request 
                        fetch(url, {
                            method: 'POST', body: JSON.stringify({
                                'title': title,
                                'snippet': snippet,
                                'category': category,
                                'content': content,
                                'blogImage': blogImage
                            })
                        })
                            .then(result => {
                                console.log(result)
                            })
                            .catch(errorMsg => { console.log(errorMsg); });
                    }
                </script>
    </body>

</html>