<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <head>
        <link rel="stylesheet" href="manage.css">
    </head>

    <body>
        <%- include('../partials/header.ejs')%>
            <main>
                <h1 class="heading" >Manage blogs</h1>

                <% for (let i=0; i < 5; i++) { %>
                    <div class="blog-container">
                        <div class="blog-image">
                            <div class="image">

                            </div>
                            <div class="info">
                                <h3>Blogging</h3>
                                <p>This a blog about blogs</p>
                            </div>
                        </div>
                        <div class="actions">
                            <button id="edit"><i class="fa-regular fa-pen-to-square fa-3x"></i></button>
                            <button id="delete"><i class="fa-regular fa-trash-can fa-3x"></i></button>
                        </div>
                    </div>
                <% } %>    
            </main>

            <%- include('../partials/footer.ejs')%>
    </body>


</html>